body {
  background: url("http://i.imgur.com/DS3RSwl.jpg");
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  font-family: "Droid Sans", sans-serif; }

.grid_wrapper {
  margin: 25px;
  margin-top: 45px;
  padding: 25px;
  background-color: white;
  opacity: 0.8;
  display: inline-block; }

table {
  border-collapse: collapse;
  background-color: white; }

table td, table th {
  border: 1px solid black; }

table td {
  height: 50px;
  min-width: 50px; }

.arrow_box {
  position: absolute;
  background: #5cc909;
  width: 20px;
  height: 20px; }

.arrow_box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #5cc909;
  border-width: 20px;
  margin-left: -20px; }

#goes_in {
  display: inline-block;
  float: left;
  margin-right: 10px; }
  #goes_in textarea {
    height: 150px;
    border: none;
    margin: 0px; }
  #goes_in p {
    padding: 10px;
    background-color: #5cc909;
    max-width: 60px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: white; }
  #goes_in p:hover {
    cursor: hand; }

#comes_out, #instructions {
  display: inline-block;
  width: 300px;
  height: 130px;
  padding: 10px;
  background-color: white;
  margin: 0px;
  font-size: 11px;
  line-height: 2em;
  overflow: auto; }
  #comes_out h4, #instructions h4 {
    margin: 0px; }
  #comes_out ul, #instructions ul {
    list-style-type: none;
    padding-left: 0px; }

#instructions {
  margin-right: 10px;
  float: left; }

#main {
  display: block;
  clear: both; }

.east {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.south {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.west {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
